<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - Brand</title>
</head>
<app-nav></app-nav>
<body>
<main class="page landing-page">
  <section class="clean-block clean-hero" style="color: rgba(9, 162, 255, 0.85);background-image: url(&quot;../../../assets/img/Adolfo-Moreno-1.jpg?h=760cfd447480d5031511e53eb6da7013&quot;);">
    <div class="text">
      <h2>НТК «Митра»<br></h2>
      <p>Турніри їх положення і результати</p><button class="btn btn-outline-light btn-lg" type="button" routerLink="/tournaments">Дізнатись більше</button></div>
  </section>
  <section class="clean-block slider dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Партнери туру</h2>
      </div>
      <div style="background-color: #ECDEDE"><app-carousel></app-carousel></div>
    </div>
  </section>
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Організатори</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
          <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="assets/img/114-1149847_avatar-unknown-dp.png?h=bf342a462e809529cd3a0362279dd92a">
            <div class="card-body info">
              <h4 class="card-title">Володимир Кружко</h4>
              <p class="card-text">Голова CO CF ATP<br></p>
              <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
</body>

</html>
