<!DOCTYPE html>
<html>

<body>
<app-nav></app-nav>
<main class="page service-page" style="margin-top: 3%">
  <section class="clean-block clean-services dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Заявки на турніри</h2>
      </div>
      <div class="row" style="margin-bottom: 3%; margin-left: 10%">
        Пошук за навзою турніра<input style="margin-left: 1%;" class="form-control form-control-sm ml-15 w-75" type="text" placeholder="Search" aria-label="Search" name="inputSearch" [(ngModel)]="searchRequestString"/>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor="let request of requestList | requestFilter:searchRequestString | paginate: { itemsPerPage: 9, currentPage: p }">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Турнір - {{request.tournament_id.name}}</h4>
              <p class="card-text">Прізвище ім'я гравця який подав заявку: {{request.user_id.first_name}} {{request.user_id.second_name}}</p>
            </div>
            <div><button class="btn btn-outline-primary btn-sm" [routerLink]="['request', request.id]" type="button">Переглянути заявку</button></div>
          </div>
        </div>
      </div>
      <div style="text-align: center;"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
    </div>
  </section>
</main>
<app-footer></app-footer>
</body>

</html>
