<!DOCTYPE html>
<html>
<body>
<app-nav></app-nav>
<main class="page"  style="margin-top: 3%">
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Про нас</h2>
        <p></p><div [innerHTML]="html"></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
          <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="../../../assets/img/114-1149847_avatar-unknown-dp.png?h=bf342a462e809529cd3a0362279dd92a" alt="">
            <div class="card-body info">
              <h4 class="card-title">Володимир Кружко</h4>
              <p class="card-text">Голова CO CF ATP<br></p>
              <div class="icons">+ 380 (95) 418 67 69</div>
              <p>Вайбер та телеграм за цим номером</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
</body>

</html>
