<footer class="page-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h5>Розпочнемо</h5>
        <ul>
          <li><a routerLink="/">Домашня сторінка</a></li>
          <li><a routerLink="/sign-up">Реєстрація</a></li>
          <li><a routerLink="/login">Ввійти</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Про нас</h5>
        <ul>
          <li><a routerLink="/about-us">Інформація про нас</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Турніри</h5>
        <ul>
          <li><a routerLink="/tournaments">Усі турніри</a></li>
          <li><a routerLink="/players">Усі гравці</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2018 Copyright Text</p>
  </div>
</footer>

