<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
  <div class="container">
    <a class="navbar-brand logo" routerLink="/">НТК «Митра»<br></a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/">Домашня сторінка</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/tournaments">Турніри</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/players">Гравці</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/about-us">ПРО нас</a></li>
        <li class="nav-item" *ngIf="storage.getItem(token) ===null" role="presentation"><a class="nav-link" routerLink="/login">ВХІД</a></li>
        <li class="nav-item" *ngIf="storage.getItem(token) ===null" role="presentation"><a class="nav-link" routerLink="/sign-up">Реєстрація</a></li>
        <li class="nav-item" *ngIf="storage.getItem(token) !==null" role="presentation"><a class="nav-link" (click)="logOut()" routerLink="/">Вихід</a></li>
        <li class="nav-item" *ngIf="checkIfUserAdmin()" role="presentation"><a class="nav-link" routerLink="/">Адмін панель</a></li>
      </ul>
    </div>
  </div>
</nav>
