<!DOCTYPE html>
<app-nav></app-nav>
<html>
<body class="text-center">
<!-- Start: Navigation with Button -->
<div>
  <h2 class="text-info">Панель адміністратора</h2>
</div>
<div>
  <div class="container">
    <div class="row" style="margin-top: 20%;">
      <div class="col-md-4"><button class="btn btn-primary btn-block" type="button" routerLink="addTournament">Додати турнір</button></div>
      <div class="col-md-4"><button class="btn btn-primary btn-block" type="button" routerLink="tournaments">Редагувати турнір</button></div>
      <div class="col-md-4"><button class="btn btn-primary btn-block" type="button" routerLink="players">Редагувати гравців</button></div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 5%;">
  <div class="col-4 text-center"></div>
  <div class="col-4 text-center"><button class="btn btn-primary btn-block" type="button" routerLink="requests">Заявки користувачів</button></div>
  <div class="col-4 text-center"></div>
</div>
</body>

</html>
<app-footer></app-footer>
